body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#default-table {
    border-collapse: collapse;
    width: 100%;
}

#default-table td, #default-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#default-table tr:nth-child(even){
    background-color: #f2f2f2;
}

#default-table tr:hover {
    background-color: #ddd;
}

#default-table th {
    padding-top: 12px;
    border: none;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkgrey;
    color: white;
}

.enabled {
    display: block;
    width: 50%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.disabled {
    display: block;
    width: 50%;
    border: none;
    background-color: red;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    align: right;
}

.button {
    color: white;
    background-color: #E67400;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
}

.button {
    transition-duration: 0.4s;
    font-weight: bold;
    font-size: 20px;    
}

.button:hover {
    background-color: darkgrey;
    color: white;
}

.navbar {
    background-color: #E67400;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar input {
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border: 0;

}

.main {
    margin-top: 40px;
}
